files.lst
*.pc*
.seg*
*.o
*.so
pcompress
libpcompress*
Makefile
test.log
test/datafiles
*~
core.*
*.kate-swp
bsc/bsc
*.a
*.lo
config.h
config.log
config.status
*.la
libtool
.deps
.dirstamp
stamp-h1
.libs
buildtmp
*.dSYM
